body {
    background-color: #cfcfcf;
}

.departureinfo {
    background-color: #001b36;
    color: #213b56;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.departureinfo h4 {
    color: #213b56;
}

.departureinfo h2 {
    color: #ffffff;
}

#boardingpass {
    max-width: 50%;
    background-color: white;
    margin:0 auto;
    border-radius: 19px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
    padding: 11px 35px 0 25px;
}

header .logo {
    text-align: left;
}

header .name {
    margin-top: 9px;
}

.gateinfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: #f1f1f1;
}